
body{
font-family:Arial;
background:#0f172a;
color:white;
text-align:center;
margin:0;
}
header{
background:#111827;
padding:20px;
}
nav{
background:#1f2937;
padding:10px;
}
button{
margin:5px;
padding:10px;
border:none;
background:#6366f1;
color:white;
cursor:pointer;
}
.page{display:none;padding:20px;}
.active{display:block;}
